// Variables de color

$paletaColores:(
    'color1':#FCF9FA,
    'color2':#FCE0EE,
    'color3':#00B0F5,
    'color4':#36CC60,
    'color5':#F21905,
    'color6':#2F2A2C,
);


// Gradiente de fondo

$bgGrad:linear-gradient(#FCF9FA, #FDE0EE);


//Estilos generales (siempre Mobile First)

body{
    background:$bgGrad;
    margin: 0px;
    padding: 0px;
    color: #000;
    text-align: center;
}
    
    
    
.container-hippo{ 
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "hero" "main" "footer";
      
    //Breakpoint Desktop
    @media only screen and (min-width: 1024px){
        grid-template-columns: 50vw 50vw;
        grid-template-areas: "header header" "hero hero" "main main" "footer footer";
    }
        



}
    

    
/* Botones para clases de Bootstrap */
.btn-ht1{
    background-color: map-get($map: $paletaColores, $key:'color4' );
    border: 1px solid #2abe54;
    color:#fff;
}
    
.btn-ht1:hover{
    background-color: #50ee7d;
     
     
}
    
    
.btn-ht2{
    background-color: #FCF9FA;
    border: 1px solid #a78094;
    color:#a78094;
}
    
.btn-ht2:hover{
    background-color: #FCE0EE;
    border: 1px solid #a7939b;
      
}
    


